Repository Zhybuliou/learningbridge: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npx eslint --ext .js,.jsx,.ts,.tsx --fix"],
  "**/*.{html,css,scss}": ["npx prettier --write ."]
}

feat: remove img from slider
  src/components/slider/Slider.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add animation on slider and paralax
  src/assets/icon-paralax/rev_sliderkin1.png
  src/assets/icon-paralax/rev_sliderkin10.png
  src/assets/icon-paralax/rev_sliderkin11.png
  src/assets/icon-paralax/rev_sliderkin12.png
  src/assets/icon-paralax/rev_sliderkin13.png
  src/assets/icon-paralax/rev_sliderkin14.png
  src/assets/icon-paralax/rev_sliderkin2.png
  src/assets/icon-paralax/rev_sliderkin3.png
  src/assets/icon-paralax/rev_sliderkin4.png
  src/assets/icon-paralax/rev_sliderkin5.png
  src/assets/icon-paralax/rev_sliderkin6.png
  src/assets/icon-paralax/rev_sliderkin7.png
  src/assets/icon-paralax/rev_sliderkin8.png
  src/assets/icon-paralax/rev_sliderkin9.png
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style by slider
  src/components/slider/Slider.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add opacity mobile version slider imgage
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: opacity
  src/components/slider/slider.css
Due: npx prettier --write .

feat: add animation all slides
  src/components/slider/Slider.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add image for slider
  src/assets/kid-1.png
  src/assets/kid-2.jpg
  src/assets/kid-4.png
  src/assets/kid-5.png
  src/assets/kid-6 (12).png
  src/assets/kid-6 (2).png
  src/assets/kid-6 (3).png
  src/assets/kid-6 (4).png
  src/assets/kid-6 (5).png
  src/assets/kid-6 (6).png
  src/assets/kid-6 (7).png
  src/assets/kid-6 (8).png
  src/assets/kid-6 (9).png
  src/assets/kid-7.png
  src/assets/kid-8.png
  src/assets/kid-9.png
  src/components/slider/ImageSlider.tsx
  src/components/slider/Slider.tsx
  src/components/slider/image-slider.css
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add responsive image slider
  src/components/slider/slider.css
Due: npx prettier --write .

feat: add styel button on slider
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style button on slider
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add section who we are
  src/assets/abc.png
  src/assets/blue-shape.webp
  src/assets/books.png
  src/assets/certificate.png
  src/assets/kid-who.png
  src/assets/trophy.png
  src/components/who-we-are/WhoWeAre.tsx
  src/components/who-we-are/whoWeAre.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: fix image response who we are
  src/components/who-we-are/whoWeAre.css
Due: npx prettier --write .

feat: add content
  src/components/who-we-are/WhoWeAre.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add section classes
  src/components/classes/Classes.tsx
  src/components/classes/classes.css
  src/components/who-we-are/whoWeAre.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add section classes
  src/assets/classes/class-1.jpg
  src/assets/classes/class-2.jpg
  src/assets/classes/class-3.jpg
  src/components/classes/Classes.tsx
  src/components/classes/classes.css
  src/components/who-we-are/whoWeAre.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add section teachers
  src/assets/teachers/team-1.jpg
  src/assets/teachers/team-2.jpg
  src/assets/teachers/team-3.jpg
  src/assets/teachers/team-4.jpg
  src/components/classes/classes.css
  src/components/header/nav/nav.css
  src/components/teachers/Teachers.tsx
  src/components/teachers/teachers.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: responst header title on teacher section
  src/components/teachers/teachers.css
Due: npx prettier --write .

feat: add section quotation
  src/assets/quotation.png
  src/components/classes/classes.css
  src/components/testimonials/Testimonials.tsx
  src/components/testimonials/testimonials.css
  src/components/who-we-are/whoWeAre.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: fix text
  src/components/testimonials/testimonials.css
Due: npx prettier --write .

fix: text
  src/components/testimonials/testimonials.css
Due: npx prettier --write .

feat: add slide in quotation
  src/components/testimonials/Testimonials.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add img for gallery
  package-lock.json
  package.json
  src/assets/gallery/g-1.jpg
  src/assets/gallery/g-10.jpg
  src/assets/gallery/g-2.jpg
  src/assets/gallery/g-3.jpeg
  src/assets/gallery/g-4.jpg
  src/assets/gallery/g-5.jpg
  src/assets/gallery/g-6.jpg
  src/assets/gallery/g-7.jpg
  src/assets/gallery/g-8.jpg
  src/assets/gallery/g-9.jpg
  src/components/gallery/OurActivities.tsx
  src/components/gallery/our-activities.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add gallery on main page
  package-lock.json
  src/components/classes/Classes.tsx
  src/components/gallery/OurActivities.tsx
  src/components/gallery/our-activities.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add image classes
  src/assets/classes/class-4.jpg
  src/assets/classes/class-4.webp
  src/assets/classes/class-5.jpg
  src/assets/classes/class-5.webp
  src/assets/classes/class-6.png
  src/components/classes/Classes.tsx
  src/components/classes/classes.css
  src/components/gallery/our-activities.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: fix menu mobile style
  src/components/header/nav/nav.css
Due: npx prettier --write .

feat: add close menu mobile
  src/components/header/nav/Navbar.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add animation
  package-lock.json
  package.json
  src/components/animate/FadeIn.tsx
  src/components/teachers/Teachers.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add nested router
  src/App.tsx
  src/Layout/HomePageLayout.tsx
  src/pages/curriculum/CurriculumPage.tsx
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add pages
  src/App.tsx
  src/pages/404/Page404.tsx
  src/pages/about/AboutPage.tsx
  src/pages/calendar/CalendarPage.tsx
  src/pages/contact/ContactPage.tsx
  src/pages/virtual/VirtualPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add content to pages
  src/components/classes/Classes.tsx
  src/components/classes/ClassesCards.tsx
  src/components/classes/ClassesHeader.tsx
  src/components/page-title/PageTitle.tsx
  src/components/page-title/page-title.css
  src/pages/404/Page404.tsx
  src/pages/about/AboutPage.tsx
  src/pages/calendar/CalendarPage.tsx
  src/pages/contact/ContactPage.tsx
  src/pages/curriculum/CurriculumPage.tsx
  src/pages/virtual/VirtualPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add calendar api
  package-lock.json
  package.json
  src/pages/calendar/CalendarPage.tsx
  src/pages/calendar/calendar.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style for calendar page
  index.html
  src/assets/animateCloud.gif
  src/assets/cloudGif.gif
  src/assets/loading.gif
  src/components/classes/classes.css
  src/components/footer/footer.css
  src/components/gallery/our-activities.css
  src/components/header/nav/nav.css
  src/components/page-title/page-title.css
  src/components/slider/slider.css
  src/components/teachers/teachers.css
  src/components/testimonials/testimonials.css
  src/components/who-we-are/whoWeAre.css
  src/index.css
  src/pages/calendar/CalendarDate.tsx
  src/pages/calendar/CalendarPage.tsx
  src/pages/calendar/calendar.css
  src/pages/home/home-page.css
  src/pages/start/startPage.css
  src/util/convetDate.js
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add line in google api req
  src/pages/calendar/CalendarPage.tsx
  src/pages/calendar/calendar.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add card for calendar page
  src/pages/calendar/calendar.css
Due: npx prettier --write .

feat: add style for page calendar
  src/pages/calendar/CalendarPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add nav css style :
  src/App.tsx
  src/components/header/nav/Navbar.tsx
  src/pages/calendar/calendar.css
  src/pages/virtual/VirtualPage.tsx
  src/pages/virtual/virtual.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add content for page Virtual Learning
  src/pages/virtual/VirtualPage.tsx
  src/pages/virtual/virtual.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add content on page virtual learning
  src/components/footer/Footer.tsx
  src/pages/virtual/VirtualPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add page virtual learning
  src/pages/virtual/VirtualPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add end in NavLink
  src/components/header/nav/Navbar.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix
