Repository Zhybuliou/learningbridge: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npx eslint --ext .js,.jsx,.ts,.tsx --fix"],
  "**/*.{html,css,scss}": ["npx prettier --write ."]
}

feat: add animate words
  src/pages/start/AnimateWord.tsx
  src/pages/start/StartPage.tsx
  src/pages/start/startPage.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: fix play bg video
  src/pages/start/AnimateWord.tsx
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

fix: autoplay vido
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

fix: remove controller
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

fix: change width logo
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add page Home
  src/App.tsx
  src/assets/LOGO-small.png
  src/assets/videoBg.webm
  src/components/header/Header.tsx
  src/pages/home/HomePage.tsx
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

fix: format video
  src/assets/videoBg_1.ogg
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add _redirect
  public/_redirects
  src/components/footer/Footer.tsx
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add header
  src/components/header/Header.tsx
  src/components/header/call/CallAction.tsx
  src/components/header/call/call-action.css
  src/components/header/header.css
  src/components/header/nav/NavHeader.tsx
  src/components/header/nav/nav-header.css
  src/index.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add footer
  src/assets/footer-bg-n.png
  src/assets/footer-bg-p.png
  src/assets/footer-bg.png
  src/components/footer/Footer.tsx
  src/components/footer/footer.css
  src/pages/home/HomePage.tsx
  src/pages/home/home-page.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: footer bg repeat by x
  src/components/footer/footer.css
Due: npx prettier --write .

feat: add meta description
  index.html
  src/components/footer/Footer.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add file robot.txt
  robots.txt
Due: none

fix: responsive footer image
  src/components/footer/footer.css
Due: npx prettier --write .

feat: fix footer image
  src/components/footer/footer.css
Due: npx prettier --write .

feat: add navigation
  src/components/header/Header.tsx
  src/components/header/call/CallAction.tsx
  src/components/header/call/call-action.css
  src/components/header/header.css
  src/components/header/nav/Hamburger.tsx
  src/components/header/nav/NavHeader.tsx
  src/components/header/nav/Navbar.tsx
  src/components/header/nav/nav-header.css
  src/components/header/nav/nav.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: fix header
  src/components/header/nav/nav.css
Due: npx prettier --write .

fix: fix menu
  src/components/header/nav/nav.css
Due: npx prettier --write .

feat: add responsive menu
  src/components/header/nav/Navbar.tsx
  src/components/header/nav/nav.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: fix Heder Logo Link
  src/components/footer/footer.css
  src/components/header/call/CallAction.tsx
  src/components/header/nav/Navbar.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add corusel for home page
  package-lock.json
  package.json
  src/assets/imgs/Jiraiya.png
  src/assets/imgs/Kakashi.png
  src/assets/imgs/Madara.png
  src/assets/imgs/Naruto.png
  src/assets/imgs/cacashi.png
  src/assets/imgs/dgiraya.png
  src/assets/imgs/pain.png
  src/assets/imgs/saski.png
  src/components/slider/ImageSlider.tsx
  src/components/slider/image-slider.css
  src/pages/Home.tsx
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: slider z-index
  src/components/slider/image-slider.css
Due: npx prettier --write .

feat: add z-index nav
  src/components/header/nav/nav.css
Due: npx prettier --write .

feat: add cloude on top slider
  src/assets/bg-header-top.png
  src/components/slider/image-slider.css
Due: npx prettier --write .

feat: change img in slider
  src/components/slider/ImageSlider.tsx
  src/components/slider/image-slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: nav active change height
  src/components/header/nav/nav.css
Due: npx prettier --write .

fix: overflow hidden
  src/components/header/nav/nav.css
Due: npx prettier --write .

feat: add bg ul in nav active
  src/components/header/nav/nav.css
Due: npx prettier --write .

fix: add overflow hidden
  src/components/header/nav/nav.css
Due: npx prettier --write .

feat: add touch
  src/components/slider/image-slider.css
Due: npx prettier --write .

feat: add touch event
  src/components/slider/ImageSlider.tsx
  src/components/slider/image-slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add touch swipe
  src/components/slider/ImageSlider.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add new slider
  package-lock.json
  package.json
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
  src/pages/home/HomePage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style slider
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

fix: delete arrows on slider
  src/components/slider/Slider.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add style on slide
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
  src/index.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style responsive mobile slide
  src/components/slider/slider.css
Due: npx prettier --write .

feat: add image bg slide 1
  src/assets/imgs/Jiraiya.png
  src/assets/imgs/Kakashi.png
  src/assets/imgs/Madara.png
  src/assets/imgs/Naruto.png
  src/assets/imgs/cacashi.png
  src/assets/imgs/dgiraya.png
  src/assets/imgs/pain.png
  src/assets/imgs/saski.png
  src/assets/kid-1.png
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add responsive slider
  src/components/slider/slider.css
Due: npx prettier --write .

feat: add figure in page
  src/assets/elem/1.png
  src/assets/elem/10.png
  src/assets/elem/11.png
  src/assets/elem/12.png
  src/assets/elem/2.png
  src/assets/elem/3.png
  src/assets/elem/4.png
  src/assets/elem/5.png
  src/assets/elem/6.png
  src/assets/elem/7.png
  src/assets/elem/8.png
  src/assets/elem/9.png
  src/assets/kid-2.jpg
  src/components/slider/Slider.tsx
  src/components/slider/slider.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .
