Repository Zhybuliou/learningbridge: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["npx eslint --ext .js,.jsx,.ts,.tsx --fix"],
  "**/*.{html,css,scss}": ["npx prettier --write ."]
}

feat: fix app
  src/App.tsx
  src/components/header/nav/Navbar.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add style content page virtual
  src/components/page-title/page-title.css
  src/pages/virtual/VirtualPage.tsx
  src/pages/virtual/virtual.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add content on page contact
  package-lock.json
  src/pages/contact/ContactPage.tsx
  src/pages/contact/contact.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add location cards for page contact
  src/assets/gallery/g-11.jpg
  src/pages/contact/ContactPage.tsx
  src/pages/contact/contact.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add style page contact
  src/components/slider/Slider.tsx
  src/pages/contact/contact.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add form for page contact
  package-lock.json
  package.json
  src/pages/contact/ContactForm.tsx
  src/pages/contact/ContactPage.tsx
  src/pages/contact/contact.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add responsive for page contact
  src/pages/contact/ContactForm.tsx
  src/pages/contact/contact.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add animation
  src/components/animate/FadeIn.tsx
  src/components/classes/Classes.tsx
  src/components/gallery/OurActivities.tsx
  src/components/page-title/PageTitle.tsx
  src/components/slider/Slider.tsx
  src/components/teachers/Teachers.tsx
  src/components/testimonials/Testimonials.tsx
  src/components/who-we-are/WhoWeAre.tsx
  src/pages/calendar/CalendarPage.tsx
  src/pages/contact/ContactForm.tsx
  src/pages/contact/ContactPage.tsx
  src/pages/curriculum/CurriculumPage.tsx
  src/pages/virtual/VirtualPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

fix: 320px
  src/components/who-we-are/whoWeAre.css
  src/pages/virtual/virtual.css
Due: npx prettier --write .

feat: add style title font
  src/components/page-title/page-title.css
Due: npx prettier --write .

feat: video
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add poster for video
  src/assets/cloud/9-97860_cloud-outline-clip-art-at-clipart-library-cartoon-cloud-transparent-png.png
  src/assets/cloud/hd-cartoon-outline-black-cloud-icon-png-31630883675wkeoopnduu.png
  src/assets/cloud/kisspng-clip-art-portable-network-graphics-transparency-cl-download-high-resolution-png-gray-animated-cloud-5d1ae4f8ec9901.9953210015620436409691.jpg
  src/assets/cloud/poster.png
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: remove poster
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: add display block for video
  src/pages/start/startPage.css
Due: npx prettier --write .

feat: add videos
  src/pages/start/StartPage.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix

feat: sloved problem video
  src/pages/start/StartPage.tsx
  src/pages/start/startPage.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add video bg
  src/pages/start/StartPage.tsx
  src/pages/start/startPage.css
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix, npx prettier --write .

feat: add scroll up
  package-lock.json
  src/components/classes/Classes.tsx
  src/components/header/nav/Navbar.tsx
Due: npx eslint --ext .js,.jsx,.ts,.tsx --fix
